<p>Product Hunt watch</p>

<ul>
	{{#each items}}
		<li>
			[{{peak_position}}]
			<a href='{{url}}'>{{title}}</a>
			(<a href='{{comments}}'>comments</a>)
			{{#each tags}}
				{{this}}
			{{/each}}
		</li>
	{{/each}}
</ul>